# exclude the following items/folders
.ipynb_checkpoints/
__pycache__/
smart_surveillance/videos/
smart_surveillance/output/
tmp2/
./reolink_live_stream.py
./01_face_detection_overcome_cold_start.ipynb

